body {
  background-color: rgba(0, 0, 255, 0.7);
  overflow: hidden;
}

@keyframes rainAnimation {
  from {
    transform: translateY(0vh) translateX(0vw) rotate(-45deg);
    visibility: visible;
  }
  to {
    transform: translateY(100vh) translateX(100vw) rotate(-45deg);
  }
}
.raindrop {
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: #ccc;
  animation: rainAnimation linear infinite;
  animation-duration: 4s;
  visibility: hidden;
}

.flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  animation: flashAnimation 0.2s ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes flashAnimation {
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.raindrop:nth-child(1) {
  left: -27vw;
  animation-delay: 2.6498844285s;
}

.raindrop:nth-child(2) {
  left: -57vw;
  animation-delay: 3.3893402348s;
}

.raindrop:nth-child(3) {
  left: 100vw;
  animation-delay: 3.1286812929s;
}

.raindrop:nth-child(4) {
  left: -52vw;
  animation-delay: 3.2573005754s;
}

.raindrop:nth-child(5) {
  left: 46vw;
  animation-delay: 1.6993056546s;
}

.raindrop:nth-child(6) {
  left: -91vw;
  animation-delay: 2.8885024443s;
}

.raindrop:nth-child(7) {
  left: 50vw;
  animation-delay: 0.4951798464s;
}

.raindrop:nth-child(8) {
  left: 74vw;
  animation-delay: 1.9721863166s;
}

.raindrop:nth-child(9) {
  left: -56vw;
  animation-delay: 0.3690959991s;
}

.raindrop:nth-child(10) {
  left: 66vw;
  animation-delay: 3.637237204s;
}

.raindrop:nth-child(11) {
  left: -73vw;
  animation-delay: 2.000815585s;
}

.raindrop:nth-child(12) {
  left: 87vw;
  animation-delay: 0.1881287979s;
}

.raindrop:nth-child(13) {
  left: -12vw;
  animation-delay: 3.4544343658s;
}

.raindrop:nth-child(14) {
  left: 62vw;
  animation-delay: 0.2516214259s;
}

.raindrop:nth-child(15) {
  left: 68vw;
  animation-delay: 2.5865059326s;
}

.raindrop:nth-child(16) {
  left: 65vw;
  animation-delay: 2.5874063976s;
}

.raindrop:nth-child(17) {
  left: -95vw;
  animation-delay: 1.8830039291s;
}

.raindrop:nth-child(18) {
  left: 99vw;
  animation-delay: 1.6189625033s;
}

.raindrop:nth-child(19) {
  left: 38vw;
  animation-delay: 1.4516549261s;
}

.raindrop:nth-child(20) {
  left: 90vw;
  animation-delay: 1.9299108126s;
}

.raindrop:nth-child(21) {
  left: 38vw;
  animation-delay: 3.1077850093s;
}

.raindrop:nth-child(22) {
  left: 2vw;
  animation-delay: 0.7125372321s;
}

.raindrop:nth-child(23) {
  left: 33vw;
  animation-delay: 1.7421697526s;
}

.raindrop:nth-child(24) {
  left: 43vw;
  animation-delay: 3.9043672054s;
}

.raindrop:nth-child(25) {
  left: 67vw;
  animation-delay: 1.7646883313s;
}

.raindrop:nth-child(26) {
  left: 18vw;
  animation-delay: 0.0858659857s;
}

.raindrop:nth-child(27) {
  left: -8vw;
  animation-delay: 1.4455837574s;
}

.raindrop:nth-child(28) {
  left: -23vw;
  animation-delay: 1.8514711912s;
}

.raindrop:nth-child(29) {
  left: 58vw;
  animation-delay: 1.2114267281s;
}

.raindrop:nth-child(30) {
  left: 76vw;
  animation-delay: 1.7047541961s;
}

.raindrop:nth-child(31) {
  left: -48vw;
  animation-delay: 1.5466757774s;
}

.raindrop:nth-child(32) {
  left: -84vw;
  animation-delay: 0.1719598391s;
}

.raindrop:nth-child(33) {
  left: 78vw;
  animation-delay: 2.0928793814s;
}

.raindrop:nth-child(34) {
  left: 77vw;
  animation-delay: 0.1014294543s;
}

.raindrop:nth-child(35) {
  left: -45vw;
  animation-delay: 3.4107805872s;
}

.raindrop:nth-child(36) {
  left: -38vw;
  animation-delay: 3.8015560479s;
}

.raindrop:nth-child(37) {
  left: 49vw;
  animation-delay: 0.5142956417s;
}

.raindrop:nth-child(38) {
  left: -63vw;
  animation-delay: 2.415191529s;
}

.raindrop:nth-child(39) {
  left: -74vw;
  animation-delay: 1.4761123189s;
}

.raindrop:nth-child(40) {
  left: -11vw;
  animation-delay: 2.0743702553s;
}

.raindrop:nth-child(41) {
  left: 0vw;
  animation-delay: 0.3351238258s;
}

.raindrop:nth-child(42) {
  left: 95vw;
  animation-delay: 0.2873721928s;
}

.raindrop:nth-child(43) {
  left: -59vw;
  animation-delay: 3.2755181829s;
}

.raindrop:nth-child(44) {
  left: 12vw;
  animation-delay: 2.0109060058s;
}

.raindrop:nth-child(45) {
  left: 38vw;
  animation-delay: 2.6530924146s;
}

.raindrop:nth-child(46) {
  left: 31vw;
  animation-delay: 2.1734445303s;
}

.raindrop:nth-child(47) {
  left: 29vw;
  animation-delay: 2.9834711563s;
}

.raindrop:nth-child(48) {
  left: -9vw;
  animation-delay: 0.4177773998s;
}

.raindrop:nth-child(49) {
  left: 17vw;
  animation-delay: 1.2711526941s;
}

.raindrop:nth-child(50) {
  left: -99vw;
  animation-delay: 3.682226804s;
}

.raindrop:nth-child(51) {
  left: 42vw;
  animation-delay: 3.774337056s;
}

.raindrop:nth-child(52) {
  left: -98vw;
  animation-delay: 3.8849424902s;
}

.raindrop:nth-child(53) {
  left: -76vw;
  animation-delay: 0.6239540856s;
}

.raindrop:nth-child(54) {
  left: 72vw;
  animation-delay: 3.1145514327s;
}

.raindrop:nth-child(55) {
  left: 45vw;
  animation-delay: 2.8065639443s;
}

.raindrop:nth-child(56) {
  left: 82vw;
  animation-delay: 3.8328830374s;
}

.raindrop:nth-child(57) {
  left: -46vw;
  animation-delay: 3.0936944255s;
}

.raindrop:nth-child(58) {
  left: 98vw;
  animation-delay: 0.4074223043s;
}

.raindrop:nth-child(59) {
  left: -14vw;
  animation-delay: 1.5591073951s;
}

.raindrop:nth-child(60) {
  left: 44vw;
  animation-delay: 3.3613893688s;
}

.raindrop:nth-child(61) {
  left: -43vw;
  animation-delay: 2.0407440191s;
}

.raindrop:nth-child(62) {
  left: -90vw;
  animation-delay: 2.922226226s;
}

.raindrop:nth-child(63) {
  left: -83vw;
  animation-delay: 3.2002107105s;
}

.raindrop:nth-child(64) {
  left: 87vw;
  animation-delay: 3.9767156021s;
}

.raindrop:nth-child(65) {
  left: 98vw;
  animation-delay: 3.8064951015s;
}

.raindrop:nth-child(66) {
  left: 62vw;
  animation-delay: 0.5791772627s;
}

.raindrop:nth-child(67) {
  left: -46vw;
  animation-delay: 0.7539964706s;
}

.raindrop:nth-child(68) {
  left: -20vw;
  animation-delay: 3.3550421083s;
}

.raindrop:nth-child(69) {
  left: -54vw;
  animation-delay: 1.4446193986s;
}

.raindrop:nth-child(70) {
  left: -99vw;
  animation-delay: 2.8722324063s;
}

.raindrop:nth-child(71) {
  left: -36vw;
  animation-delay: 3.2324299442s;
}

.raindrop:nth-child(72) {
  left: 82vw;
  animation-delay: 2.1866679965s;
}

.raindrop:nth-child(73) {
  left: -58vw;
  animation-delay: 0.7568492291s;
}

.raindrop:nth-child(74) {
  left: -79vw;
  animation-delay: 2.7234568915s;
}

.raindrop:nth-child(75) {
  left: -84vw;
  animation-delay: 0.0689949489s;
}

.raindrop:nth-child(76) {
  left: -54vw;
  animation-delay: 3.6861010756s;
}

.raindrop:nth-child(77) {
  left: -92vw;
  animation-delay: 3.4044722623s;
}

.raindrop:nth-child(78) {
  left: -79vw;
  animation-delay: 2.9372100463s;
}

.raindrop:nth-child(79) {
  left: -28vw;
  animation-delay: 0.0213106042s;
}

.raindrop:nth-child(80) {
  left: 90vw;
  animation-delay: 0.8106997193s;
}

.raindrop:nth-child(81) {
  left: 69vw;
  animation-delay: 2.667091495s;
}

.raindrop:nth-child(82) {
  left: -39vw;
  animation-delay: 1.2221919948s;
}

.raindrop:nth-child(83) {
  left: -7vw;
  animation-delay: 1.0674288113s;
}

.raindrop:nth-child(84) {
  left: 3vw;
  animation-delay: 2.3221380743s;
}

.raindrop:nth-child(85) {
  left: 68vw;
  animation-delay: 3.5128664702s;
}

.raindrop:nth-child(86) {
  left: -79vw;
  animation-delay: 2.4511380808s;
}

.raindrop:nth-child(87) {
  left: 89vw;
  animation-delay: 1.8775547924s;
}

.raindrop:nth-child(88) {
  left: 21vw;
  animation-delay: 3.7238206222s;
}

.raindrop:nth-child(89) {
  left: 46vw;
  animation-delay: 1.2953893454s;
}

.raindrop:nth-child(90) {
  left: 38vw;
  animation-delay: 3.8542438971s;
}

.raindrop:nth-child(91) {
  left: 93vw;
  animation-delay: 1.6445986067s;
}

.raindrop:nth-child(92) {
  left: -29vw;
  animation-delay: 2.7176824111s;
}

.raindrop:nth-child(93) {
  left: 4vw;
  animation-delay: 3.3286121664s;
}

.raindrop:nth-child(94) {
  left: -52vw;
  animation-delay: 0.7151056825s;
}

.raindrop:nth-child(95) {
  left: -80vw;
  animation-delay: 2.8249612539s;
}

.raindrop:nth-child(96) {
  left: 1vw;
  animation-delay: 3.2486972596s;
}

.raindrop:nth-child(97) {
  left: 96vw;
  animation-delay: 3.3519443399s;
}

.raindrop:nth-child(98) {
  left: 52vw;
  animation-delay: 1.1570702968s;
}

.raindrop:nth-child(99) {
  left: 48vw;
  animation-delay: 1.1858033843s;
}

.raindrop:nth-child(100) {
  left: 98vw;
  animation-delay: 2.9517575817s;
}

/*# sourceMappingURL=style.css.map */
